/* upload on 5-30-24 */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, #00b9ff 35%, #003aff);
  min-height: 100vh;
  padding: 20px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.top-container {
  display: flex;
  margin-bottom: 10px 0px 10px 10px;
}

.rosie-container {
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 180px;
}

.title-container {
  display: flex;
  animation: transitionIn 2.5s;
  margin: auto;
  width: 1000px;
  font-family: Lobster;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-style: italic;
  text-shadow: -4px -5px 6px black, 4px 5px 6px rgb(255, 255, 255);
}

#rockBandTitle {
  font-size: 125px;
  /*color: #003aff;*/
  color: rgb(209, 5, 5);
}

#info {
  font-size: 75px;
  color: darkblue;
}

.filler-container {
  display: flex;
  width: 260px;
  /*justify-content: center;
  align-items: center;*/
}

.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
  margin: 20px 0px 0px 10px;
}

.select_class {
  height: 24px;
  width: 240px;
  margin-left: 10px;
  color: black;
  font-weight: bolder;
  background-color: #bbb;
}

.select_class:hover {
  background-color: #00b9ff;
}

.bandImageClass {
  width: 300px;
  border: solid black 4px;
  border-left-color: darkblue;
  border-top-color: darkblue;
  border-radius: 10%;
}

#red-color {
  color: red;
}

.font_bolder {
  font-weight: bolder;
}

.bandNameClass {
  font-family: Lobster;
  /*font-family: "Times New Roman", Times, serif;*/
  justify-content: center;
  font-size: 50px;
  font-style: italic;
  /*color: #0f34b0;*/
  color: darkblue;
  margin: auto auto;
  text-shadow: -4px -5px 6px black, 4px 5px 6px rgb(255, 255, 255);
  font-family: Lobster;
}

.bandInfoClass {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: flex-start;
  font-weight: 900;
  font-style: italic;
  color: black;
  width: 1000px;
  margin-bottom: 100px;
  font-size: 1.2rem;
  padding: 0.5rem;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  text-align: left;
}

.divClass {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-basis: auto;
  text-align: center;
}

.smTopContainerClass {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  margin: auto;
}

.smImageContainerClass {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}

#smImageId {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 500px;
  border: 4px solid darkblue;
  border-bottom: 3px solid darkblue;
  border-radius: 25px;
}

#smH1Id {
  display: none;
  font-size: 1.4em;
  color: black;
  font-style: italic;
  margin-top: 350px;
  margin-left: 950px;
  position: fixed;
}
